Repository fga-eps-mds/2019.1-unbrake, pull requests merged in 2019-06, with the labels that each got.

#201 Criar formulario de velocidade na pag de calibração
  unbrake-frontend/src/components/Calibration/Speed.jsx
  unbrake-frontend/src/components/ComponentsForm.jsx
  unbrake-frontend/src/tests/Calibration/Speed.test.jsx
  unbrake-frontend/src/tests/Calibration/__snapshots__/Speed.test.jsx.snap
Labels: front-end

#214 Torna campos da model Config opcionais
  .gitignore
  unbrake-api/.flake8
  unbrake-api/.pylintrc
  unbrake-api/calibration/migrations/0001_initial.py
  unbrake-api/configuration/migrations/0001_initial.py
  unbrake-api/configuration/models.py
Labels: back-end

#216 Checar unbrake-local online
  .codeclimate.yml
  .travis.yml
  README.md
  docker-compose.yml
  unbrake-local/scripts/check_tests
  unbrake-local/scripts/check_tests_coverage
  unbrake-local/scripts/check_tests_coverage_html
  unbrake-local/unbrake.go
Labels: devops, local

#215 Criar mecanismo para comandos seriais
  unbrake-local/unbrake.go
  unbrake-local/unbrake_test.go
Labels: local

#222 Adiciona o MQTT broker aos serviços disponibilizados
  .gitignore
  .travis.yml
  deploy/.env_mqtt.enc
  deploy/.env_mqtt_template
  deploy/compose.base.yml
  deploy/scripts/deploy
Labels: devops

#231 Create notification to configuration form.
  unbrake-frontend/src/configuration/ConfigFunctions.jsx
  unbrake-frontend/src/tests/Calibration/__snapshots__/Relation.test.jsx.snap
Labels: front-end

#234 Cria envio de dados fake e recuperação de dados do MQTT broker
  .codeclimate.yml
  README.md
  utils/get_mqtt_data.py
  utils/requirements.txt
  utils/send_mqtt_mock_data.py
Labels: devops

#232 Enviar dados coletados via MQTT
  .gitignore
  .travis.yml
  unbrake-local/Dockerfile
  unbrake-local/secrets/MQTT_KEY.enc
  unbrake-local/unbrake.go
  unbrake-local/unbrake_test.go
Labels: local

#210 Criar relação calibração
  unbrake-frontend/src/components/Calibration/Relation.jsx
  unbrake-frontend/src/img/Vbelt.png
  unbrake-frontend/src/img/completeTire.png
  unbrake-frontend/src/img/sideTire.png
  unbrake-frontend/src/img/tire.png
  unbrake-frontend/src/tests/Calibration/Relation.test.jsx
Labels: front-end

#227 Redefinir senha do usuário
  unbrake-api/user/schema.py
  unbrake-frontend/src/App.jsx
  unbrake-frontend/src/actions/RedirectActions.js
  unbrake-frontend/src/components/ResetPassword.jsx
  unbrake-frontend/src/components/SideBarMenu.jsx
  unbrake-frontend/src/components/SignUp.jsx
  unbrake-frontend/src/components/UserOptionsMenu.jsx
  unbrake-frontend/src/reducer/RedirectReducer.js
  unbrake-frontend/src/reducer/index.js
  unbrake-frontend/src/routes/Routes.jsx
Labels: back-end, front-end

#253 Cria código de conduta
  CODE_OF_CONDUCT.md
Labels: documentation

#256 Conserta template de pull request
  .codeclimate.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/tarefa.md
  .github/PULL_REQUEST_TEMPLATE/template_pull_request.md
  .github/pull_request_template.md
Labels: bug

#254 Redirecionamento dos usuários não logados
  unbrake-frontend/src/auth/Auth.jsx
  unbrake-frontend/src/routes/AuthorizedRoute.jsx
  unbrake-frontend/src/routes/Routes.jsx
  unbrake-frontend/src/tests/Auth.test.jsx
Labels: bug

#260 Resolvendo erros da página de configuração
  unbrake-frontend/src/configuration/Configuration.jsx
Labels: bug

#257 Realizando ajustes no componente de calibração
  unbrake-api/calibration/mutation.py
  unbrake-frontend/src/calibration/Calibration.jsx
  unbrake-frontend/src/calibration/CalibrationUpload.jsx
  unbrake-frontend/src/calibration/CalibrationVariables.jsx
  unbrake-frontend/src/calibration/Command.jsx
  unbrake-frontend/src/calibration/Force.jsx
  unbrake-frontend/src/calibration/Relation.jsx
  unbrake-frontend/src/calibration/Speed.jsx
  unbrake-frontend/src/calibration/Temperature.jsx
  unbrake-frontend/src/calibration/Vibration.jsx
  unbrake-frontend/src/testModule/TabMenuComponent.jsx
  unbrake-frontend/src/tests/Calibration/Relation.test.jsx
  unbrake-frontend/src/tests/Calibration/__snapshots__/Relation.test.jsx.snap
  unbrake-frontend/src/tests/ComponentTest.js
  unbrake-frontend/src/utils/Request.jsx
Labels: front-end

#262 Campos persistem após sair da tela
  unbrake-frontend/src/configuration/Configuration.jsx
  unbrake-frontend/src/configuration/ConfigurationForm.jsx
Labels: bug, front-end

#272 Cria arquivo de configuracao do módulo local
  README.md
  unbrake-local/unbrake.go
  unbrake-local/unbrake_linux.go
  unbrake-local/unbrake_windows.go
Labels: local

#271 Passar informações de guia de contribuição para o README
  CONTRIBUTING.md
  README.md
Labels: documentation

#273 Submit ensaio
  unbrake-frontend/src/actions/TestActions.js
  unbrake-frontend/src/actions/Types.js
  unbrake-frontend/src/calibration/Calibration.jsx
  unbrake-frontend/src/calibration/CalibrationUpload.jsx
  unbrake-frontend/src/configuration/ConfigFunctions.jsx
  unbrake-frontend/src/configuration/Configuration.jsx
  unbrake-frontend/src/configuration/ConfigurationForm.jsx
  unbrake-frontend/src/reducer/TestReducer.js
  unbrake-frontend/src/reducer/index.js
  unbrake-frontend/src/testModule/TabMenuComponent.jsx
  unbrake-frontend/src/testModule/TestComponent.jsx
  unbrake-frontend/src/testModule/TestData.jsx
  unbrake-frontend/src/tests/testModule/TabMenuComponent.test.jsx
  unbrake-frontend/src/tests/testModule/TestComponent.test.jsx
  unbrake-frontend/src/tests/testModule/TestData.test.jsx
  unbrake-frontend/src/tests/testModule/__snapshots__/TabMenuComponent.test.jsx.snap
  unbrake-frontend/src/tests/testModule/__snapshots__/TestComponent.test.jsx.snap
  unbrake-frontend/src/tests/testModule/__snapshots__/TestData.test.jsx.snap
Labels: front-end

#288 Receber dados do mqtt ensaio
  unbrake-frontend/src/testModule/TestComponent.jsx
  unbrake-frontend/src/testModule/TestData.jsx
Labels: front-end

#289 Implementa feedback ao usuário no módulo local e refatora estrutura
  .gitignore
  README.md
  unbrake-api/testing/schema.py
  unbrake-local/Dockerfile
  unbrake-local/collect.go
  unbrake-local/config.go
  unbrake-local/config_linux.go
  unbrake-local/config_windows.go
  unbrake-local/experiment.go
  unbrake-local/icon.go
  unbrake-local/port.go
  unbrake-local/portselect.go
  unbrake-local/snub.go
  unbrake-local/unbrake.go
  unbrake-local/unbrake_test.go
Labels: local

#281 Mandar erro api e receber no frontend
  unbrake-api/calibration/mutation.py
  unbrake-api/calibration/schema.py
  unbrake-api/configuration/schema.py
  unbrake-api/testing/schema.py
  unbrake-frontend/src/testModule/ProgressBar.jsx
  unbrake-frontend/src/testModule/TestData.jsx
  unbrake-frontend/src/utils/Request.jsx
Labels: api, front-end

#295 Notifica se a a configuração foi escolhida corretamente e correção de bugs
  unbrake-frontend/src/configuration/ConfigFunctions.jsx
  unbrake-frontend/src/configuration/Configuration.jsx
  unbrake-frontend/src/testModule/General.jsx
Labels: bug, front-end
