Repository fga-eps-mds/2019.1-unbrake, pull requests merged in 2019-05, with the labels that each got.

#155 Resolver issues code climate
  unbrake-frontend/package.json
  unbrake-frontend/src/components/AuthForm.jsx
  unbrake-frontend/src/components/Configuration.jsx
  unbrake-frontend/src/components/ConfigurationForm.jsx
  unbrake-frontend/src/components/FieldComponent.jsx
  unbrake-frontend/src/components/Login.jsx
  unbrake-frontend/src/components/SideBarMenu.jsx
  unbrake-frontend/src/components/SignUp.jsx
  unbrake-frontend/src/tests/ComponentTest.js
  unbrake-frontend/src/tests/Configuration.test.jsx
  unbrake-frontend/src/tests/Login.test.jsx
  unbrake-frontend/src/tests/RealTimeChart.test.jsx
  unbrake-frontend/src/tests/__snapshots__/Configuration.test.jsx.snap
Labels: bug, front-end

#173 Admin com cadastro de usuario
  unbrake-api/user/schema.py
  unbrake-api/user/test_user.py
  unbrake-frontend/src/actions/AuthActions.js
  unbrake-frontend/src/auth/Auth.jsx
  unbrake-frontend/src/components/AuthForm.jsx
  unbrake-frontend/src/components/Login.jsx
  unbrake-frontend/src/components/SideBarMenu.jsx
  unbrake-frontend/src/components/SignUp.jsx
  unbrake-frontend/src/reducer/AuthReducer.js
  unbrake-frontend/src/routes/AuthorizedRoute.jsx
  unbrake-frontend/src/routes/Routes.jsx
  unbrake-frontend/src/tests/Auth.test.jsx
Labels: back-end, front-end

#183 Criar botão de Logout
  unbrake-frontend/src/components/ConfigurationForm.jsx
  unbrake-frontend/src/components/SideBarMenu.jsx
  unbrake-frontend/src/components/Styles.jsx
  unbrake-frontend/src/components/UserOptionsMenu.jsx
Labels: front-end

#168 Feedback tela login e cadastro
  unbrake-frontend/package.json
  unbrake-frontend/src/App.jsx
  unbrake-frontend/src/actions/NotificationActions.js
  unbrake-frontend/src/actions/Types.js
  unbrake-frontend/src/auth/Auth.jsx
  unbrake-frontend/src/components/ConfigurationForm.jsx
  unbrake-frontend/src/components/Login.jsx
  unbrake-frontend/src/components/Notification.jsx
  unbrake-frontend/src/components/SignUp.jsx
  unbrake-frontend/src/reducer/NotificationReducer.js
  unbrake-frontend/src/reducer/index.js
  unbrake-frontend/src/styles/.AuthStyle.js.swp
  unbrake-frontend/src/styles/AuthStyle.js
  unbrake-frontend/src/tests/Login.test.jsx
  unbrake-frontend/src/tests/SignUp.test.jsx
  unbrake-frontend/src/tests/__snapshots__/Login.test.jsx.snap
  unbrake-frontend/src/tests/__snapshots__/SignUp.test.jsx.snap
Labels: front-end

#184 Formulário de vibração
  unbrake-frontend/src/components/Calibration/Calibration.jsx
  unbrake-frontend/src/components/Calibration/CalibrationComponents.jsx
  unbrake-frontend/src/components/Calibration/CalibrationTempCheck.jsx
  unbrake-frontend/src/components/Calibration/CalibrationTempFields.jsx
  unbrake-frontend/src/components/Calibration/CalibrationTempForm.jsx
  unbrake-frontend/src/components/Calibration/Vibration.jsx
  unbrake-frontend/src/components/ConfigurationStyles.jsx
  unbrake-frontend/src/components/SideBarMenu.jsx
  unbrake-frontend/src/routes/Routes.jsx
  unbrake-frontend/src/tests/Calibration/Vibration.test.jsx
  unbrake-frontend/src/tests/Calibration/__snapshots__/Vibration.test.jsx.snap
Labels: front-end

#185 Ajustar Models da Calibração
  .gitignore
  unbrake-api/calibration/migrations/__init__.py
  unbrake-api/calibration/models.py
  unbrake-api/calibration/mutation.py
  unbrake-api/calibration/schema.py
  unbrake-api/calibration/test_models.py
  unbrake-api/calibration/test_mutation.py
  unbrake-api/configuration/schema.py
  unbrake-api/configuration/test_models.py
  unbrake-api/unbrake_api/schema.py
  unbrake-api/user/schema.py
  unbrake-api/user/test_user.py
Labels: back-end

#181 Selecionar configurações no banco de dados
  unbrake-api/calibration/models.py
  unbrake-api/calibration/mutation.py
  unbrake-api/calibration/test_mutation.py
  unbrake-api/configuration/models.py
  unbrake-api/configuration/schema.py
  unbrake-api/configuration/test_models.py
  unbrake-frontend/src/components/Calibration/Vibration.jsx
  unbrake-frontend/src/components/Configuration.jsx
  unbrake-frontend/src/components/ConfigurationForm.jsx
  unbrake-frontend/src/components/Styles.jsx
  unbrake-frontend/src/tests/Calibration/__snapshots__/Vibration.test.jsx.snap
  unbrake-frontend/src/tests/Configuration.test.jsx
  unbrake-frontend/src/tests/__snapshots__/Configuration.test.jsx.snap
Labels: back-end, front-end

#189 Formulario de calibração de comando
  unbrake-frontend/src/components/Calibration/CalibrationTempCheck.jsx
  unbrake-frontend/src/components/Calibration/CalibrationTempForm.jsx
  unbrake-frontend/src/components/CalibrationCommand.jsx
  unbrake-frontend/src/routes/Routes.jsx
Labels: front-end

#198 Cria coleta inicial de dados do dispositivo físico
  README.md
  unbrake-local/unbrake.go
Labels: local

#202 Consertar problemas na autentificação
  unbrake-frontend/src/routes/AuthorizedRoute.jsx
  unbrake-frontend/src/routes/Routes.jsx
Labels: bug, front-end

#206 Refatorando o formulário de comando
  unbrake-frontend/src/components/Calibration/Command.jsx
  unbrake-frontend/src/components/CalibrationCommand.jsx
  unbrake-frontend/src/components/ComponentsForm.jsx
  unbrake-frontend/src/components/SideBarMenu.jsx
  unbrake-frontend/src/routes/Routes.jsx
  unbrake-frontend/src/tests/Calibration/Command.test.jsx
  unbrake-frontend/src/tests/Calibration/__snapshots__/Command.test.jsx.snap
Labels: front-end
